html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.page404{
    height: 100%;
}
.articleRow{
    margin-top: 50px !important;
}



.articleContainer {
    position: relative;
    top: 5%;
    gap: 5%;
  }
  
  .image-container {

  }
  
  .articleMainImage {
    /* min-height: 300px;
    max-height: 400px; */
  }
  
  .overlay {

  }
  
  .textContent {

  }

  .adminPanelImg {

  }